.error-page{
    margin-top: $margin-from-nav;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    .error-title{
        color: $basic-text-color;
    }

    .home-button{
        border: none;
        background-color: $buttons-bg;
        font-size: 1.4rem;
        padding: 0.4rem 0.8rem;
        text-decoration: none;
        border-radius: $small-radius;
        font-weight: bold;

        &:hover{
            background-color: $button-hover;
            cursor: pointer;
        }
    }
}